.pr-main {
    margin: 20px auto;
    background-color: aliceblue;
    border-radius: 10px;
    display: block;
    padding: 10px 60px 30px;
}

.pr-title {
    text-align: center;
    font-size: 23px;
    letter-spacing: 2px;
    font-weight: 700;
    font-family: sans-serif;
}

.pr-main-info {
    display: flex; 
    gap: 40px;
}

.pr-image {
    height: 250px;
    width: 250px;
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
}

.pr-info {
    margin-top: 50px;
    display: flex;
    flex-flow: column;
    gap: 10px;
    font-size: clamp(14px, 3vw, 19px);
    letter-spacing: 1px;
    padding: 10px 0px 10px 10px;
}

.pr-exit {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    letter-spacing: 1px;
    width: 100px;
    height: 40px;
    font-size: 19px;
    color: red;
    font-weight: 600;
    padding: 7px;
    background: none;
    border: none;
    transition: .2s;
    border-radius: 10px;
}

.pr-exit:hover {
    color: white;
    background: linear-gradient(-45deg, var(--main-color), rgb(236, 20, 88));
    background-size: 200% 200%;
    animation: gradient 1s ease infinite;
    letter-spacing: 3px;
}

@media (max-width: 765px) {
    .pr-main-info {
        display: block; 
    }
    .pr-main {
        padding: 10px 30px 30px;
    }
    .pr-image {
        margin: 0 auto;
    }
}