<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script>
        var categories = {{ categories | tojson }};
        var element = document.createElement('div');
        element.innerHTML = categories;
        var decodedDataString = element.textContent;

        var jsonData = JSON.parse(decodedDataString);
    </script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='resources.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='page_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='ca.css') }}">

    <script src="{{ url_for('static', filename='knockout-3.5.1.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='temp.js') }}"></script>

    <title>PostHub</title>
</head>
<body>
    <div class="navigation-bar">
        <a href="index" class="navigation-bar-name"> <img class="navigation-bar-img image-4" style="margin-left: 0%;"> PostHub</a>
    </div>
    <form id="myForm" method="post" enctype="multipart/form-data">
        <div class="content-block">
            <div class="main-left">
                <div class="page-main-block">
                    <input name="username" class="username" placeholder="Автор" data-bind="value: parametersForComment.username" required />

                    <div class="page-main-info">
                        <textarea name="header" contenteditable class="ca-title" placeholder="Заголовок" required data-bind="value: parametersForComment.header"></textarea>
                    </div>
                    <label>
                        Категория:
                        <select style="background-color: white;" name="categories" data-bind="foreach: jsonData, value: parametersForComment.categories" required> 
                            <option data-bind="value: id, text: name"></option>
                        </select>
                    </label>
                    <textarea contenteditable name="text" class="ca-content" placeholder="" required data-bind="value: parametersForComment.text"></textarea>
                </div>
            </div>
            <div class="main-right">
                <div style="text-align: center;">
                    <span style="font-size: 18px; letter-spacing: 1px;">Для поста обязательно изображение</span>
                    <div class="ca-logo" data-bind="style: { 'background-image': image }"></div>
                    <input type="file" id="image-selector" name="image" required data-bind="value: parametersForComment.image" />
                </div>
                <input class="new-article publish" type="submit" value="Создать">
            </div>
            <input name="date" style="display: none" data-bind="value: (new Date()).getTime()" />
        </div>
    </form>
    
    <script>
        self.parametersForComment = {
            username: ko.observable(""),
            header: ko.observable(""),
            text: ko.observable(""),
            image: ko.observable(""),
            categories: ko.observable("")
        }
        self.image = ko.observable()

        function toBase64(file) {
            let reader = new FileReader();
            reader.onload = () => self.image("url('" + reader.result + "')");
            reader.readAsDataURL(file);
        }

        document.getElementById('image-selector').onchange = (event) => {
            toBase64(event.target.files[0]);
        };

        $( '#myForm' )
            .submit( function( e ) {
                $.ajax( {
                    url: window.location.origin + '/createPost',
                    type: 'POST',
                    data: new FormData( this ),
                    processData: false,
                    contentType: false
                } ).done(() => {
                    window.open("../index", "_self");
                });
                e.preventDefault();
            } );
    </script>
</body>
</html>