<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        var posts = {{ posts | tojson }};
        var element = document.createElement('div');
        element.innerHTML = posts;
        var decodedDataString = element.textContent;

        var jsonData = JSON.parse(decodedDataString);
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='resources.css') }}">

    <script src="{{ url_for('static', filename='knockout-3.5.1.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <title>PostHub</title>
</head>
<body>
    <div class="navigation-bar">
        <img class="navigation-bar-img image-4" />
        <a href="index" class="navigation-bar-name">
            PostHub
            </a>
    </div>
    <div class="content-block">
        <div class="categories-block">
            <button class="new-article new-state" onclick="location.href='create_article'">Сделать пост</button>

            <button class="new-article hide-state" data-bind="click: hideCategoriesBlock">Скрыть категории</button>
            
            <div data-bind="foreach: categoriesTemp">
                <button class="categories-button"
                    data-bind="click: function() {
                        if ($data == 'Популярное') {
                            self.articlesTitle(self.articlesTitle().sort((a, b) => (Number(a.likes)-Number(a.dislikes)) < (Number(b.likes)-Number(a.dislike))));
                        }
                        else if ($data == 'Новое') {
                            self.articlesTitle(self.articlesTitle().sort((a, b) => a.date < b.date));
                        }
                        project.nowCategory($data)
                    },
                    css: { 'categories-button-active': project.nowCategory() == $data }">
                    <span data-bind="text: $data"></span>
                </button>
            </div>
        </div>
        <div class="main-left">
            <div class="hide">
                <button class="new-article mobile-button" data-bind="click: openCategoriesBlock">Категории</button>
                <button class="new-article mobile-button" onclick="location.href='create_article'">Сделать пост</button>
            </div>
            <!-- ko if: project.nowCategory() == 'Новое'-->
            <!-- ko using: self.articlesTitle(self.articlesTitle().sort((a, b) => a.date < b.date)); -->
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko foreach: articlesTitle -->
            <!-- ko if: project.nowCategory() == 'Новое' || project.nowCategory() == 'Популярное' -->
            <a class="content-left" data-bind="
                attr: { 'href': '/post/' + post_id }
            ">
                <img class="content-left-image" data-bind="style: { 'background-image': createImageFromJSON(image) }" />
                <div class="content-left-text">
                    <span class="content-left-title" data-bind="text: header">
                    </span>
                    <span class="content-left-description" data-bind="text: main_text">
                    </span>
                    <div class="content-left-categories" data-bind="text: jsonData.categories.map(x => { if (categories.split(',').includes(String(x.id))) return x.name }).filter(x => x != undefined).join(', ') "></div>
                    <div class="content-left-date" data-bind="text: new Date(date).toLocaleString()"></div>
                </div>
            </a>
            <!-- /ko -->
            <!-- ko ifnot: project.nowCategory() == 'Новое' || project.nowCategory() == 'Популярное' -->
                <!-- ko if: jsonData.categories.map(x => { if (categories.split(',').includes(String(x.id))) return x.name }).filter(x => x != undefined).includes(project.nowCategory()) -->
                <a class="content-left" data-bind="
                    attr: { 'href': '/post/' + post_id }
                ">
                    <img class="content-left-image" data-bind="style: { 'background-image': createImageFromJSON(image) }" />
                    <div class="content-left-text">
                        <span class="content-left-title" data-bind="text: header">
                        </span>
                        <span class="content-left-description" data-bind="text: main_text">
                        </span>
                        <div class="content-left-categories" data-bind="text: jsonData.categories.map(x => { if (categories.split(',').includes(String(x.id))) return x.name }).filter(x => x != undefined).join(', ') "></div>
                        <div class="content-left-date" data-bind="text: new Date(date).toLocaleString()"></div>
                    </div>
                </a>
                <!-- /ko -->
            <!-- /ko -->
            <!-- /ko -->
        </div>
        <div class="main-right">
            <div class="content-right">
                <img class="content-image image-2" />
                <div class="content-text">
                    <b>
                        Казино "Азино"
                    </b>
                    <span>
                        Большие ставки и выигрыши!
                    </span>
                </div>
            </div>
            <div class="content-right">
                <img class="content-image image-1" />
                <div class="content-text">
                    <b>
                        Хотите быстро заработать?
                    </b>
                    <span>
                        Всего за минимальное вложение...
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script>
        self.width = ko.observable(window.innerWidth)
        var openCategoriesBlock = function() {
            let categoriesBlock = document.querySelector('.categories-block');
            categoriesBlock.classList.add('show-categories');
        }
        var hideCategoriesBlock = function() {
            let categoriesBlock = document.querySelector('.categories-block');
            categoriesBlock.classList.remove('show-categories');
        }

        var createImageFromJSON = function(image) {
            return "url('" + image + "')";
        }
    </script>
</body>
</html>