<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='resources.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="{{ url_for('static', filename='knockout-3.5.1.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    

    <title>Профиль</title>
</head>
<body>
    <div class="navigation-bar">
        <a href="index" class="navigation-bar-name">PostHub</a>
    </div>
    <div class="content-block">
        <div class="main-left">
            <div class="pr-main">
                <h2 class="pr-title">Профиль пользователя Тест</h2>
                <div class="pr-main-info">
                    <div class="pr-image image-1"></div>
                    <div class="pr-info">
                        <div><span>Дата регистрации: </span>10.02.2024</div>
                        <div><span>Количество статей: </span><span>0</span></div>
                        <div><span>Статус пользователя: </span><span>Обычный</span></div>
                    </div>
                </div>
                <button class="pr-exit">Выйти</button>
            </div>
        </div>
        <div class="main-right">
            <div class="content-right">
                <img class="content-image image-2" />
                <div class="content-text">
                    <b>
                        Здесь будет какая-то информация
                    </b>
                    <span>
                        А здесь что-то поменьше
                    </span>
                </div>
            </div>
            <div class="content-right">
                <img class="content-image image-1" />
                <div class="content-text">
                    <b>
                        Реклама
                    </b>
                    <span>
                        Ещё что-то о рекламе
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script>
        
    </script>
</body>
</html>