@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    --main-color: #6495ED;
    --main-bg-color: aliceblue;
}

body {
    box-sizing: border-box;
    margin: 0;
    background-color: wheat;
    font-family: 'Oswald', sans-serif;
}

.navigation-bar {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid black;
    background-color: white;
    /*background: linear-gradient(-45deg, var(--main-color), rgb(228, 92, 216)); */
}
.navigation-bar-img {
    height: 50px;
    width: 50px;
    margin-left: 20%;
    border: none;
    
}


.new-article {
    padding: 0 20px;
    width: 250px;
    height: 70px;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    border-radius: 10px;
    text-align: center;
    color: black;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: .2s ease-out;
    margin: 20px 0 50px 0;
}

.new-article:hover {
    color: black;
    background-color: 	#FFC0CB;
    font-weight: 600;
}

.new-article:active {
    
}

.navigation-bar-name {
    margin: auto;
   font-size: 25px;
   font-weight: 800;
    color: black;
    letter-spacing: 2px;
    user-select: none; 
    transition: .3s; 
    text-decoration: none; 
} 
 
.content-block {
    display: flex;
    height: 100vh;
    font-family: sans-serif;
}

.main-left {
    border-right: 1px solid black;
    flex-basis: 80%;
    padding: 10px;
}

.main-right {
    flex-basis: 20%;
    padding: 0 10px 0 10px;
    background-color: white;
}


.content-right {
    right: 0px;
    min-width: 150px;
    max-width: 200px;
    border-radius: 7px;
    margin: 10px auto 20px;
    padding: 10px;
    display: flex;
    flex-flow: column;
    gap: 10px;
    border: 1px solid black;
    transition: .2s;
    cursor: pointer;
}

@media (max-width: 1370px) {
    .main-right {
        display: none;
    }
    .main-left {
        flex-basis: 100%;
        border: none;
    }
}

.content-image {
    height: 200px;
    width: inherit;
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
}

.content-text {
    display: flex;
    flex-flow: column;
    gap: 4px;
}

.content-text > b {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
}

.content-text > span {
    font-size: 10px;
    font-weight: 500;
    color: rgb(51, 51, 51);
}

.content-left {
    max-width: 770px;
    border: 1px solid;
    border-radius: 10px;
    margin: 10px auto;
    transition: .25s ease-in-out;
    padding: 10px;
    display: flex;
    height: inherit;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.content-left:hover, .content-right:hover {
    /* background-color: rgb(220, 238, 255); */
    box-shadow: 1px 1px 5px #545454;
}

.content-left:active, .content-right:active {
    background-color: rgb(173, 216, 255);
}

.content-left-image {
    height: 200px;
    width: 200px;
    background-position:center center;
    background-size:cover;
    margin: 5px 5px 0px;
    border-radius: 10px;
    flex-basis: 30%;
}

.content-left-text {
    margin-left: 5px;
    margin-top: 10px;
    flex-basis: 70%;
}

.content-left-title {
    font-size: 1.25em;
    display: block;
    margin-bottom: 15px;
}

.content-left-description {
    font-size: 0.8em;
    display: block;
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 80px;
}

.content-left-categories {
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
}

.content-left-date {
    display: block;
    margin-top: 10px;
}

.categories-block {
    padding-left: 30px;
    border-right: 1px solid black;
    padding-right: 30px;
    background-color: white;
}

.categories-button {
    font-size: 25px;
    border: none;
    background: inherit;
    text-align: left;
    width: inherit;
    cursor: pointer;
    transition: .3s;
    font-weight: 600;
    font-family: "Kanit", sans-serif;
    border-radius: 10px;
    display: block;
    margin-bottom: 15px;
    padding: 7px 10px 5px 10px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.categories-button:hover::before {
    opacity: 0;
}

.categories-button:hover {
    opacity: 1;
    background-color: #FF8C00;
    color: white;
    background-size: 150% 150%;
    animation: gradient 1s ease infinite;
}

.categories-button:active {
    background-color: red;
    color: white;
    background-size: 200% 200%;
    animation: gradient 1s ease infinite;
}

.categories-button-active {
    background-color: #FFA500;
    color: white;
    background-size: 200% 200%;
}

.auth-button {
    border: none;
    background-color: inherit;
    font-size: 20px;
    margin-right: 20px;
    color: white;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    transition: .2s;
    width: 95px;
}

.auth-button:hover {
    color: black;
    font-weight: 600;
}

.auth-button:active {
    color:rgb(195, 19, 248);
    font-weight: 700;
}

.hide {
    display: none;
    flex-flow: column;
}

.hide > button {
    width: 100%;
    max-width: 100%;
}

.mobile-button {
    font-size: 17px;
    max-width: 150px;
    height: 50px;
    margin-bottom: 0px;
}

.mobile-button:hover {
}

@media (max-width: 600px) {
    .content-left {
        display: block;
    }
    .content-left-image {
        margin: 0 auto;
        display: block;
    }
}

.new-state {
    display: block;
}

.hide-state {
    display: none;
    width: 300px;
}

.row2 {
    display: flex;
    justify-content: space-between;
}

.row2 > button {
    width: 47%;
    max-width: 47%;
}

@media (max-width: 1135px) {
    .categories-block {
        display: none;
    }
    .hide {
        display: flex;
    }
    .auth-button {
        display: none;
    }
    .show-categories {
        display: block;
        position: absolute;
        width: 100%;
        background-color: white;
    }
    .new-state {
        display: none;
    }
    .hide-state {
        display: block;
    }
}